<ion-view title="Some Services">
  <ion-content class=padding >

   	<div class="list" >
   		<a class="item item-divider" id="dash_header"><div class="tiitle" id="ourservices" >our services</div></a>

		<a class="item item-avatar item-icon-right" href="#/tab/needcameraform">
			<img src="img/dash_icons/need_cameras.png">
			<h2>Need Cameras</h2>
			<p>Any type of cctv help</p>
			<i class="icon ion-ios7-arrow-right"></i>
		</a>
		<a class="item item-avatar item-icon-right">
			<img src="img/dash_icons/lcd_adv.png">
			<h2>LCD Advertisement</h2>
			<p>we provide advertisement on LCD</p>
			<i class="icon ion-ios7-arrow-right"></i>
		</a>
		<a class="item item-avatar item-icon-right">
			<img src="img/dash_icons/entertainment.png">
			<h2>Entertainment</h2>
			<p>All type of entertainment solution</p>
			<i class="icon ion-ios7-arrow-right"></i>
		</a>
		<a class="item item-avatar item-icon-right">
			<img src="img/dash_icons/your_pc_slow.png">
			<h2>Your pc slow?</h2>
			<p>Increase PC speed</p>
			<i class="icon ion-ios7-arrow-right"></i>
		</a>
	</div>
	<button class="button ion-android-earth button-block">
		visit some webstore
	</button>
  </ion-content>
</ion-view>
