<ion-view title="SmartPro Services
">
  <ion-content>
  	<div class="card">
  		<div class="item item-divider">
  			About us
  		</div>
  		<div class="item item-text-wrap">
    		Some Services is based in Canada providing online store and support for all your technology needs in this modern day life. We excel in delievring quality products and services to our Customers with needs for Networking, Audio/Video Solutions, Security Cameras, LCD Mounting solutions and much more.
    	</div>
	</div>
  </ion-content>
</ion-view>
